{{ template "chrome/header.html" . }}

<section class="main-content container">
  <ul class="breadcrumb">
    <li><a href="/reviews">Gelesenes</a></li>
    <li>{{ .Title }}</li>
  </ul>

  <article class="texts-detail">
    {{ if .Params.avatar }}
      <figure class="texts-summary-avatar pull-right">
        <img src="{{ .Params.avatar }}" alt="{{ .Title }}" class="img-responsive img-circle">
      </figure>
    {{ end }}
      
    <header class="texts-detail-header">
      <h1 class="page-header reviews-detail-title">{{ .Title }}</h1>
      {{ if .Params.subtitle }}
        <h2 class="reviews-detail-subtitle">{{ .Params.subtitle }}</h2>
      {{ end }}
      {{ if .Params.author }}
        <p class="texts-detail-intro lead">von {{ .Params.author }}</p>
      {{ end }}
    <div class="reviews-detail-bookbox">
{{ if .Params.img }}
<a href="{{ .Params.img }}"><img class="reviews-detail-img" src="{{ .Params.img }}"/></a>
{{ end }}
<div class="reviews-detail-bookinfo">
{{ .Params.author }}<br/>
{{ .Title }}{{if .Params.subtitle }} &ndash; {{ .Params.subtitle }}{{ end }}<br/>
Sprache: {{ if eq .Params.language "en" }}Englisch{{ else }}Deutsch{{ end }}<br/>
{{ .Params.publisher }}, {{ .Params.edition }}<br/>
{{ if eq .Params.hardcover "yes" }}Gebunden{{ else }}Taschenbuch{{ end }}, {{ .Params.pages }} Seiten<br/>
ISBN: {{ .Params.isbn }}
</div>
    </div>
      {{ if .Description }}
        <p class="texts-detail-intro lead">{{ .Description }}</p>
      {{ end }}
    </header>

    <section class="texts-detail-bio">
	{{ .Content }}
    </section>
  </article>
<!--
  <h4>Find' ich gut</h4>
  <p>Falls dir dieser Beitrag gefällt, freue ich mich sehr über eine finanzielle Anerkennung. Du kannst gerne meine Kontodaten per <a href="&#x6d;&#97;&#105;&#x6c;&#116;&#x6f;&#58;&#119;&#x72;&#x69;&#x74;&#105;&#110;&#103;&#64;&#102;&#x6f;&#x74;&#x6f;&#x65;&#108;&#101;&#99;&#x74;&#x72;&#105;&#99;&#115;&#x2e;&#x64;&#101;">Email</a> erfragen, oder das bequem über den Paypal-Button unten regeln &ndash; die zwacken sich dann allerdings <a href="http://www.paypal.com/de/webapps/mpp/paypal-fees" target="_blank">gar nicht mal so wenig</a> vom Betrag ab.<br/>Ich freue mich über jede Unterstützung.</p>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="F3XBP6ZJUHJAS">
    <input type="hidden" name="item_name" value="{{ .Title }}">
    <input type="image" src="https://josawode.de/img/paypal-button.png" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
    <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
  </form>
-->
</section>

{{ template "chrome/footer.html" . }}
