<article class="texts-summary row">
 <!-- {{ if .Params.texts }}
    <figure class="texts-summary-icon col-sm-2">
      <img src="{{ .Params.texts }}" alt="{{ .Title }}" class="img-responsive img-circle">
    </figure>
  {{ end }}-->
  <section class="texts-summary-details col-sm-10">
    {{ if .Date }}<i>{{ .Date.Format "2.1.2006" }}</i>{{ end }}
<h3 class="texts-summary-header"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
<p>
{{ if .Params.subtitle }}<strong>{{ .Params.subtitle }}</strong>{{ end }}
{{ if .Params.author }}von {{ .Params.author }}{{ end }}
    <!--{{ if .Date }}
	<i>{{ .Date.Format "2.1.2006" }}</i>
    {{ end }}
    {{ if and .Date .Description }}
	 &ndash; 
    {{ end }}-->
    {{ if .Description }}
	<br/>
        <i>{{ .Description }}</i>
       <!-- <a href="{{ .Permalink }}">Mehr</a>-->
    {{ end }}
</p>
  </section>
</article>
