
/*========================================================
  Bootstrap Overrides

 ========================================================*/
@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-BoldItalic.eot');
    src: url('../fonts/Vollkorn-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vollkorn-BoldItalic.woff2') format('woff2'),
        url('../fonts/Vollkorn-BoldItalic.woff') format('woff'),
        url('../fonts/Vollkorn-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-Regular.eot');
    src: url('../fonts/Vollkorn-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vollkorn-Regular.woff2') format('woff2'),
        url('../fonts/Vollkorn-Regular.woff') format('woff'),
        url('../fonts/Vollkorn-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-Bold.eot');
    src: url('../fonts/Vollkorn-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vollkorn-Bold.woff2') format('woff2'),
        url('../fonts/Vollkorn-Bold.woff') format('woff'),
        url('../fonts/Vollkorn-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-Italic.eot');
    src: url('../fonts/Vollkorn-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vollkorn-Italic.woff2') format('woff2'),
        url('../fonts/Vollkorn-Italic.woff') format('woff'),
        url('../fonts/Vollkorn-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



html, body {
	background-color: rgb(248, 248, 248);
}

body {
  overflow-y: scroll;
  line-height: 1.42857143;
  color: #333;
}
 
body,
p,
.btn {
  font-family: 'Vollkorn', "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 17px;
  font-weight: 400;
}

@media (max-width:640px) {

  body,
  p,
  .btn {
    font-size: 16px;
  }

}

@media (max-width:360px) {

  body,
  p,
  .btn {
    font-size: 15px;
  }

}

*::selection { color:#ffffff; background: #4b006a; }
a::selection { color:#0780e7; background: #4b006a; }
*::-moz-selection { color:#ffffff; background: #4b006a; }
a::-moz-selection { color:#0780e7; background: #4b006a; }

p,
ul,
ol {
  line-height: 1.6;
  margin: 0 0 1.55em 0;
}

a {
  color: #4b006a; 
  text-decoration: none;
}
a:hover {
  color: #4b006a;
  text-decoration: underline;
}
a:active {
  color: #4b006a;
}
a:focus {
  color: #4b006a;
}


li {
 /* color: #4b006a;*/
}

.nav-item {
  color: #4b006a;
}

em {
 /* background: #ffffcf;
  color: #4b006a;*/
/*  font-style: normal;
  padding: 0.1em 0.4em;*/
}

ul, 
ol {
  padding-left: 1.25em;
  margin: 1.55em 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1em 0;
}

h1,
h2,
h3 {
/*  font-family: "adelle", Helvetica, sans-serif;*/
  font-weight: 600;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 24px;
  margin: 0.8em 0 0.4em 0;
}

h3 {
  color: #000; /* #555;*/
  font-size: 22px;
  margin: 2em 0 1.5em 0;
}

h4 {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  margin-top:2em;
  margin-bottom:1em;
  margin-left:0;
  margin-right:0;
  clear:both;
}

.btn,
.btn-default,
.btn-primary {
  border: 0;
}

.btn-primary {
  background-color: #15b1bb;
}
  .btn-primary:hover {
    background-color: #0d6e74;
  }

.breadcrumb {
  background-color: transparent;
  font-size: 14px;
  padding: 0;
  list-style: none;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li + li::before {
  padding-left: 5px;
  padding-right: 7px;
  content: "\203A";
}

.page-header {
  font-size: 45px;
  margin: 0 0 0.5em 0;
  border: none;
}

@media (max-width:640px) {
  .page-header {
    font-size: 38px;
  }
}
@media (max-width:360px) {
  .page-header {
    font-size: 32px;
  }
}

.alert-success {
  background: #55cd51;
  border: none;
  color: white;
}

.container {
  max-width: 900px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/*========================================================
  Main Content
========================================================*/

.main-content {
  padding-top: 1em;
  padding-bottom:8em;
}

/*========================================================
  Navigation
========================================================*/

.nav {
  list-style: none;
}

.navigation-container {
/*  position: fixed;*/
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; 
}

.page-nav .navbar-right {
  float: right;
  text-align: right;
}

.navbar-toggle{
  display: none;
  float: right;
  box-sizing: border-box;
}

@media (max-height:640px), (max-width:520px) {
  .navbar-toggle {
    display: table;
    content: " ";
  }

  .page-nav .navbar-collapse {
    display:none;
  }

  .navbar-toggle:focus ~ .navbar-collapse {
    display: block;
  }
}

.page-nav {
  display: block;
  background-color: rgb(248, 248, 248);
}
.page-nav .navbar-brand {
  /*height: 8em;*/
  padding: 0px;
  font-family: "adelle", Helvetica, sans-serif;
  color: #4b006a;
}
.page-nav .navbar-toggle,
.page-nav .navbar-nav {
  /*margin-top: 3em;*/
  border-color: #4b006a;
  color: #4b006a;
}
.page-nav .navbar-toggle .icon-bar {
  background-color: #4b006a;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  box-sizing: border-box;
}
.page-nav .navbar-toggle .icon-bar + .icon-bar {
  margin-top:4px;
}
.page-nav .navbar-toggle:hover {
  background-color: transparent;
  border-color: #4b006a;
  color: #4b006a;
  border: 2px solid;
  margin: 0;
}
.page-nav .navbar-toggle:focus {
  background-color: transparent;
  border-color: #4b006a;
  color: #4b006a;
  border: 2px solid;
  margin: 0;
}

.page-nav .navbar-collapse {
  clear: both;
  border: none;
  width: auto;
  border: solid 1px;
  border-radius: 1em;
  margin-top: 0.5em;
  padding-right: 15px;
  padding-left: 15px;
  background-color: rgb(248, 248, 248);
}
.page-nav .navbar-collapse:hover {
  display: block;
}

.page-nav ul {
  padding-left: 1em;
  padding-right: 1em;
}

.page-nav .navbar-nav li {
  background-color: rgb(248, 248, 248);
}

.page-nav .navbar-nav li a {
  color: #4b006a;
  text-align: right;
}
.page-nav .navbar-nav li a:focus {
  color: #4b006a;
  text-decoration: underline;
}
.page-nav .navbar-nav li a:hover {
  color: #4b006a;
  text-decoration: underline;
}
.page-nav .navbar-nav .current a {
  text-decoration: underline;
}

.navbar-toggle {
  clear: both;
  position: relative;
  /*float: right;*/
  padding: 9px 10px;
  margin: 1px;
  /*margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;*/
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  line-height: inherit;
  text-transform: none;
  overflow: visible;
  box-sizing: border-box;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;

  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*========================================================
  Footer
========================================================*/

.page-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
  text-align:center;
}


.footer-items {
  border: 1px solid;
  border-radius: 1em;
  padding: 0;
  margin-bottom: 0.5em;
  display:inline-block;
  background-color:#fff;
}

.page-footer li {
  display: inline-block;
  list-style-type: none;
/*  float: left;*/
  padding: 15px;
}

@media (max-height:720px), (max-width:520px) {

  .main-content {
    padding-bottom: 0em;
  }

  .page-footer {
    position: relative;
  }
  
  .footer-items {
    margin: 0 0 1px 0;
  }

}


/*========================================================
  Texts Section
========================================================*/

.texts-summary {
  margin: 0 0;
}
.texts-summary-header {
  margin: 0;
  border: none;
}
.texts-summary-icon {
  max-width: 200px;
}
.texts-summary-details {
  padding-right: 15px;
  padding-left: 15px;
  line-height: 1.2;
}

.texts-detail-header h1 {
  font-size: 35px;
  margin-bottom: 0px;
}

.texts-detail-author {
/*  font-style:italic;
  font-size:smaller;*/
}

.texts-detail-intro {
  font-style: italic;
  font-size: 20px;
}

@media (max-width:640px) {
  .texts-detail-header h1 {
    font-size: 30px;
  }
  .texts-detail-intro {
    font-size: 18px;
  }
}
@media (max-width:360px) {
  .texts-detail-header h1 {
    font-size: 26px;
  }
  .texts-detail-intro {
    font-size: 16px;
  }
}

/*========================================================
  Reviews Section
========================================================*/

.reviews-detail-title {
  font-size: 35px;
  margin: 0;
}

.reviews-detail-subtitle {
  margin: -0.2em 0 0.2em 0;
  padding-top: 0px; 
}

.reviews-detail-bookbox {
 display: inline-block;
 box-sizing: border-box;
 /*white-space: nowrap; */
 border: 1px solid;
 border-radius: 1em;
 padding: 0.4em;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 1.2em;
}

.reviews-detail-bookinfo {
 white-space: normal;
 display: inline-block;
 margin: 0.6em;
}

.reviews-detail-img {
 position: relative;
 float: left;
 margin: 0.6em 0 0.6em 0.6em;
 overflow: hidden;
 height: auto;
 width: auto;
 max-width: 220px;
}

@media (max-width:640px) {
  .reviews-detail-title h1 {
    font-size: 30px;
  }
  .reviews-detail-subtitle {
    font-size: 18px;
  }
}
@media (max-width:360px) {
  .reviews-detail-title h1 {
    font-size: 26px;
  }
  .reviews-detail-subtitle {
    font-size: 16px;
  }
}

/*========================================================
  Newsletter
========================================================*/

.newsletter-subscribe-frame {
  display:block; 
  border:0px; 
  width:100%; 
  height:630px; 
  overflow:auto;
}

.newsletter-unsubscribe-frame {
  display:block; 
  border:0px; 
  width:100%; 
  height:570px; 
  overflow:auto;
}

/* honey pot */
.newsletter-website-field {
  visibility:hidden;
}

/*========================================================
  Block Image Shortcode
========================================================*/
/*
.block-image {
  margin: 1.25em 0;
}*/


/*========================================================
  Images (positioning and scaling according to display size)
========================================================*/
   img.autoscaled {
      max-width: 100%;
   }

   img.leftfloat {
      float:left;
      margin-left:0px;
      margin-right:10px;
      margin-top:10px;
      margin-bottom:10px;
      clear:both;
   }

   img.rightfloat {
      float:right;
      margin-left:10px;
      margin-right:0px;
      margin-top:10px;
      margin-bottom:10px;
      clear:both;
   }

@media (max-width:560px) {
   img.autoscaled {
      float:none;
      display:block;
   }
}

.rss-img {
  vertical-align:top;
  margin: 8px 5px 5px 5px;
}
