    <div class="page-footer">
        <ul class="footer-items">
          <li><a href="/impressum/">Impressum</a></li>
          <li><a href="/newsletter-subscribe/">Newsletter</a></li>
        <li class="text-muted">&copy; 2021 Josa Wode</li>
        </ul>
    </div>
  </body>
</html>
