<!DOCTYPE html>
<html class="no-js" lang="de" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />    

{{ if .IsPage }}
  {{ if eq .Type "texts" }}
    <meta name="description" content="{{ .Params.metatype }} von {{ .Params.writers }} - {{ if eq .Params.metadescription "" }}{{ .Description }}{{ else }}{{ .Params.metadescription }}{{ end }}{{ if .Params.publishlicense }} (Lizenz: {{ .Params.publishlicense }}){{ end }}" />
    <meta property="og:description" content="{{ .Params.metatype }} von {{ .Params.writers }} - {{ if eq .Params.metadescription "" }}{{ .Description }}{{ else }}{{ .Params.metadescription }}{{ end }}{{ if .Params.publishlicense }}  (Lizenz: {{ .Params.publishlicense }}){{ end }}" />
    {{ $.Scratch.Add "ogImage" "" }}
    {{ if .Params.ogimage }}
      {{ $.Scratch.Add "ogImage" .Params.ogimage }}
    {{ else if .Params.img }}
      {{ $.Scratch.Add "ogImage" .Params.img }}
    {{ end }}
    {{ if not (eq ($.Scratch.Get "ogImage") "") }}
      {{ $imgData := imageConfig (add "/static" ($.Scratch.Get "ogImage" | safeURL)) }}
    <meta property="og:image" content="{{ $.Scratch.Get "ogImage" | absURL }}" />
    <meta property="og:image:width" content="{{ $imgData.Width }}px" />
    <meta property="og:image:height" content="{{ $imgData.Height }}px" />
    {{ end }}
  {{ else if eq .Type "reviews" }}
    <meta name="description" content="Rezension zu '{{ .Params.author }} - {{ .Title }}' von Josa Wode" />
    <meta property="og:description" content="Rezension zu '{{ .Params.author }} - {{ .Title }}' von Josa Wode" />
    {{ $.Scratch.Add "ogImage" "" }}
    {{ if .Params.ogimage }}
      {{ $.Scratch.Add "ogImage" .Params.ogimage }}
    {{ else if .Params.img }}
      {{ $.Scratch.Add "ogImage" .Params.img }}
    {{ end }}
    {{ if not (eq ($.Scratch.Get "ogImage") "") }}
      {{ $imgData := imageConfig (add "/static" ($.Scratch.Get "ogImage" | safeURL)) }}
    <meta property="og:image" content="{{ $.Scratch.Get "ogImage" | absURL }}" />
    <meta property="og:image:width" content="{{ $imgData.Width }}px" />
    <meta property="og:image:height" content="{{ $imgData.Height }}px" />
    {{ end }}
  {{ else }}
    <meta name="description" content="{{ .Params.metadescription }}" />
    <meta property="og:description" content="{{ .Params.metadescription }}" />
  {{ end }}
{{ else }}
  {{ if eq .Title "josawode.de" }}
    <meta name="description" content="{{ .Site.Params.metadescription }}" />
    <meta property="og:description" content="{{ .Site.Params.metadescription }}" />
  {{ else if eq .Title "Reviews" }}
    <meta name="description" content="Buchrezensionen von Josa Wode" />
    <meta property="og:description" content="Buchrezensionen von Josa Wode" />
  {{ end }}
{{ end }}

    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:locale" content="de_DE" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />

    {{ template "chrome/includes.html" . }}
    <link href="/css/styles.css" rel="stylesheet">

{{ if .OutputFormats.Get "RSS" }}
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}
