<nav class="page-nav navbar navbar-default" role="navigation">
  <div class="container navigation-container">
    <button type="button" class="navbar-toggle navbar-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{{ if eq .Title "josawode.de" }} class="current"{{ end }}><a href="/" tabindex="0">Geschriebenes</a></li>
        <!-- disabled: <li{{ if eq .Title "Reviews" }} class="current"{{ end }}><a href="/reviews/" tabindex="0">Gelesenes</a></li>-->
        <li{{ if eq .Title "Autor" }} class="current"{{ end }}><a href="/author/" tabindex="0">Autor</a></li>
        <li{{ if eq .Title "Unterstützen" }} class="current"{{ end }}><a href="/support/" tabindex="0">Unterstützen</a></li>
      </ul>
    </div>
  </div>
</nav>
