<article class="texts-summary row">
  <section class="texts-summary-details col-sm-10">
    {{ if .Date }}<i>{{ .Date.Format "2.1.2006" }}</i>{{ end }}
    <h2 class="texts-summary-header"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    {{ if .Description }}<p>{{ .Description }}</p>{{ else }}<br/>{{ end }}
  </section>
</article>
