{{ template "chrome/header.html" . }}

  <div class="container">
    <h1>Seite nicht gefunden</h1>
    <p>
      <strong>Ups!</strong> Wie es aussieht konnte die gesuchte Seite nicht aufgefunden werden. Entschuldigung!
    </p>
    <p>
      Über Fehlermeldungen per <a href="&#x6d;&#97;&#105;&#x6c;&#116;&#x6f;&#58;&#119;&#x72;&#x69;&#x74;&#105;&#110;&#103;&#64;&#102;&#x6f;&#x74;&#x6f;&#x65;&#108;&#101;&#99;&#x74;&#x72;&#105;&#99;&#115;&#x2e;&#x64;&#101;">Email</a> freue ich mich.
    </p>
  </div>

{{ template "chrome/footer.html" }}
