{{ template "chrome/header.html" . }}

<section class="main-content container">
  <h1 class="page-header">Geschriebenes</h1>
  <h2>von Josa Wode</h2>
  <br />
  <p>Hier finden sich Geschichten und andere Beiträge zu schreibbezogenen Themen.</p>
<p>Ich lege mich dabei nicht auf bestimmte Themen, Stile oder Genres fest. Einige meiner Geschichten lassen jedoch meine Neigung zur phantastischen Literatur erkennen.</p>
  <p>Die Beiträge können als <a href="/texts/index.xml" type="application/rss+xml">RSS-Feed<img alt="RSS Feed abonnieren" src="/img/rss_small.png" class="rss-img" /></a> abboniert werden. Außerdem freue ich mich über Anmeldungen zu meinem <a href="./newsletter-subscribe/">Newsletter</a>.</p>

{{ range where .Site.Pages "Section" "texts" }}
  {{ range .Pages }}
    {{ .Render "summary" }}
  {{ end }}
{{ end }}

</section>

{{ template "chrome/footer.html" }}
