﻿{{ $SectionTitle := "Gelesenes" }}

{{ template "chrome/header.html" . }}
  <section class="main-content container">
    <h1 class="page-header">{{ $SectionTitle }}</h1>

<p>Eine willkürliche Sammlung von Rezensionen zu Büchern, die ich gelesen habe. Da ich sie ohnehin lese, ist es keine große Sache für mich, ein paar Gedanken dazu aufzuschreiben. Ich verspreche aber nicht, dass ich das für jedes gelesene Buch durchziehe.<br/>
Die Rezensionen können als <a href="index.xml" type="application/rss+xml">RSS-Feed<img alt="RSS Feed abonnieren" src="/img/rss_small.png" class="rss-img" /></a> abboniert werden.</p>

    {{ range .Data.Pages }}
      {{ .Render "summary" }}
    {{ end }}

</section>

{{ template "chrome/footer.html" . }}
